<!-- <div class="container p-3">
    <h3>Update Profile</h3>
    <br>
    <div class="card col-md-10">
        <form [formGroup]="editUseData" (ngSubmit)="f.form.valid && updateProfile()" #f="ngForm">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-md-3 col-form-label">User Name</label>
                <div class="col-md-6">
                    <input type="text" readonly class="form-control-plaintext" id="userName"
                        value="{{loggedinUser.userName}}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="currentpassword" class="col-md-3 col-form-label">Current Password</label>
                <div class="col-md-6">
                    <input type="password" class="form-control"  id="currentpassword" formControlName="password">
                </div>
                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                   <br />{{ errorMessage }}
                </div>
            </div>
            <div class="mb-3 row">
                <label for="newPassword" class="col-md-3 col-form-label">New Password</label>
                <div class="col-md-6">
                    <input type="password" class="form-control" id="newPassword" formControlName="newPassword" required minlength="6">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="confirmPassword" class="col-md-3 col-form-label" required minlength="6">Confirm New Password</label>
                <div class="col-md-6">
                    <input type="password" class="form-control" id="confirmPassword"  formControlName="confirmPassword">
                </div>
            </div>
            <div class="col-auto col-md-3">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>

    </div>
</div> -->

<mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align: center;">Password Update</mat-card-title>
    <mat-card-content>
        <form name="form" (ngSubmit)="f.form.valid && updateProfile()" #f="ngForm">
            <div class="form-group">
                <label for="staticEmail" class="col-md-3 col-form-label">User Name</label>
                <div class="col-md-6">
                    <input type="text" readonly class="form-control-plaintext" id="userName"
                        value="{{loggedinUser.userName}}">
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input matInput type="password" name="password" class="form-control" [(ngModel)]="editUseData.password"
                    required minlength="6" #password="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && password.errors && !isUpdated }" />
                <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
                    <div *ngIf="password.errors['required']">Password is required</div>
                    <div *ngIf="password.errors['minlength']">
                        Password must be at least 6 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">New Password</label>
                <input matInput type="password" name="password" class="form-control"
                    [(ngModel)]="editUseData.newPassword" required minlength="6" #npassword="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && npassword.errors && !isUpdated }" />
                <div *ngIf="npassword.errors && f.submitted" class="invalid-feedback">
                    <div *ngIf="npassword.errors['required']">Password is required</div>
                    <div *ngIf="npassword.errors['minlength']">
                        Password must be at least 6 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmpassword">Confirm Password</label>
                <input matInput type="password" class="form-control" name="confirmpassword"
                    [(ngModel)]="editUseData.confirmPassword" required minlength="6" #confirmpassword="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && confirmpassword.errors && !isUpdated }" />
                <div *ngIf="confirmpassword.errors && f.submitted && !isUpdated" class="invalid-feedback">
                    <div *ngIf="confirmpassword.errors['required']">Password is required</div>
                    <div *ngIf="confirmpassword.errors['minlength']">
                        Password must be at least 6 characters
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <button mat-raised-button class="form-control btn btn-primary login-button" routerLink="home">
                    Update
                </button>
            </div>


            <div class="form-group">
                <div *ngIf="f.submitted && isUpdateFailed" class="alert alert-danger" role="alert">
                    Login failed: {{ errorMessage }}
                </div>
            </div>
            <div class="alert alert-success" *ngIf="isUpdated">
                {{ successMessage }}.
            </div>
        </form>
    </mat-card-content>
</mat-card>