<div class="container">
    <div class="row">
        <div class="success-card card-wrapper">
            <igx-card>
                <igx-card-header>
                    <h3 igxCardHeaderTitle>SucceessFully Delivered SMS</h3>
                    <h5 igxCardHeaderSubtitle style="color: darkgreen;" >Success</h5>
                </igx-card-header>

                <igx-card-content>
                     <p><span><b>Total: </b>{{success}} &nbsp;</span> <span style="float: right;"><b>Percent: </b> <span style="color: darkgreen;">{{(success/total*100).toFixed(2)}}%</span></span></p>
                </igx-card-content>

            </igx-card>
        </div>
        <div class="pending card-wrapper">
            <igx-card class="pending-card">
                <igx-card-header>
                    <h3 igxCardHeaderTitle >Pending Delivery SMS</h3>
                    <h5 igxCardHeaderSubtitle style="color: orangered;">Pending</h5>
                </igx-card-header>

                <igx-card-content>
                    <p><span><b>Total: </b>{{pending}} &nbsp;</span> <span style="float: right;"><b>Percent: </b> <span style="color: orangered;">{{(pending/total*100).toFixed(2)}}%</span></span></p>
                </igx-card-content>

            </igx-card>
        </div>
        <div class="failed-card card-wrapper">
            <igx-card>
                <igx-card-header>
                    <h3 igxCardHeaderTitle>Failed SMS</h3>
                    <h5 igxCardHeaderSubtitle style="color: darkred;">Failed</h5>
                </igx-card-header>

                <igx-card-content>
                    <p><span><b>Total: </b>{{failed}} &nbsp;</span> <span style="float: right;"><b>Percent: </b> <span style="color: darkred;">{{(failed/total*100).toFixed(2)}}%</span></span></p>
                </igx-card-content>

            </igx-card>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <mat-form-field appearance="standard">
                <mat-label>Filter Table</mat-label>
                <input matInput placeholder="search" (keyup)="applyFilter($event)" />
            </mat-form-field>
        </div>
        <div class="col-md-4 pt-4">
            <!-- <a mat-button class="btn btn-primary" routerLink="add">Add New</a> -->
        </div>
    </div>
    <div>
        <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="sender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sender</th>
                <td mat-cell *matCellDef="let row"><span *ngIf="row.sender"> {{row.sender}}</span></td>
            </ng-container>
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total</th>
                <td mat-cell *matCellDef="let row"><span *ngIf="row.total">{{row.total}}</span></td>
            </ng-container>

            <ng-container matColumnDef="success">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Success </th>
                <td mat-cell *matCellDef="let row"><span *ngIf="row.success">{{row.success}}</span></td>
            </ng-container>

            <ng-container matColumnDef="pending">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Pending </th>
                <td mat-cell *matCellDef="let row"><span *ngIf="row.pending">{{row.pending}}</span></td>
            </ng-container>

            <ng-container matColumnDef="failed">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Failed </th>
                <td mat-cell *matCellDef="let row"><span *ngIf="row.failed">{{row.failed}}</span></td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5,10,25]" aria-label="select page of users"></mat-paginator>
    </div>
</div>